
RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    RewriteCond %{REQUEST_URI} !^/$            

    RewriteCond %{REQUEST_URI} !^/transfer.php$

    RewriteRule (.*) /transfer.php?q=$1 [L,QSA]
